/* /components/Guides/DetailsPage/styles.css */
/* Make Table Of Content sticky */
.sticky-toc {
  position: sticky;
  top: 80px; /* Adjust as needed to match your header height */
  max-height: calc(100vh - 80px); /* Adjust to fit within the viewport */
  overflow-y: auto;
  padding-left: 20px; /* Add some padding for the indicator */
}

/* Scroll animation for Table Of Content */
.toc-scroll-indicator {
  position: absolute;
  left: 0;
  width: 3px;
  background-color: #3b82f6;
  transition: top 0.2s ease-in-out, height 0.2s ease-in-out;
}

/* guide content display styles */
.prose h1, .prose h2, .prose h3, .prose h4, .prose h5, .prose h6 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
  line-height: normal;
}

.prose h1 {
  font-size: 3em;
}

.prose h2 {
  font-size: 2.5em;
  color: greenyellow;
}

.prose h3 {
  font-size: 1.75em;
  color: #3b82f6;  
}

.prose h4 {
  font-size: 1.5em;
}

.prose h5 {
  font-size: 1.25em;
}

.prose h6 {
  font-size: 1em;
}

.prose p {
  margin-bottom: 0.2em;
  color: #868788; /* Dimmed white */
}

/* Ordered/Unordered List Styles */
.prose ol, .prose ul {
  margin-bottom: 1em;
  padding-left: 1.5em;
  color: #868788; /* Dimmed white */
  list-style-position: inside; /* Ensure list markers are visible */
  list-style-type: decimal;
  line-height: 2;
}

/* Blockqoute styles */
.prose blockquote {
  margin: 1em 0;
  padding: 1em;
  background-color: #2d3748;
  border-left: 4px solid #3b82f6;
}

/* Responsive video styling */
/* Responsive video styling */
.prose iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9; /* Maintain 16:9 aspect ratio */
  display: block;
  margin: 0 auto;
  border: none;
}

.prose iframe > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}